/**
	date 2015-12-23
	Styles for all views in this package;
**/


.error-text{
	-fx-background-color: lightyellow;
	-fx-border-color: red;
	-fx-border-style: solid inside;
	-fx-border-width: 0.1em;
	-fx-border-radius: 0.2em;
}